/* criar uma animacao esquerda -> direita */
@keyframes moveInLeft {
  /* o que acontecera em 0% */
  0% {
    opacity: 0;
    /* de onde o conteudo vira (-10rem) em X */
    transform: translateX(-10rem); }
  /* o que acontecera em 80% */
  80% {
    /* de onde o conteudo vira (2rem) em X */
    transform: translateX(2rem); }
  /* o que acontecera em 100% */
  100% {
    opacity: 1;
    /* termina o transform */
    transform: translate(0); } }

/* criar uma animacao direita -> esquerda */
@keyframes moveInRight {
  /* o que acontecera em 0% */
  0% {
    opacity: 0;
    /* de onde o conteudo vira (-10rem) em X */
    transform: translateX(10rem); }
  /* o que acontecera em 80% */
  80% {
    /* de onde o conteudo vira (2rem) em X */
    transform: translateX(-2rem); }
  /* o que acontecera em 100% */
  100% {
    opacity: 1;
    /* termina o transform */
    transform: translate(0); } }

/* criar uma animacao direita -> esquerda */
@keyframes moveInBottom {
  /* o que acontecera em 0% */
  0% {
    opacity: 0;
    /* de onde o conteudo vira (-10rem) em X */
    transform: translateY(3rem); }
  /* o que acontecera em 100% */
  100% {
    opacity: 1;
    /* termina o transform */
    transform: translate(0); } }

/* redefinir as caracteristicas padroes do browser e que serao usados no body*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.07rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-terciary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  /* todo o tipo de transicao levara 2s */
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  /* faz o transform no eixo Y em .3rem */
  transform: translateY(-0.3rem);
  /* sombra de 0.0rem no eixo X, 1rem no eixo Y, 2rem de borrao aplicando uma cor RGB com opacidade para diminuir o borrao da sombra */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    /* sera aumenta em esca de 1.4 no eixo X e 1.6 no eixo Y com opacidade 0 apos a transicao*/
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  /* sombra de 0.0rem no eixo X, .5rem no eixo Y, .5rem de borrao aplicando uma cor RGB com opacidade para diminuir o borrao da sombra */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: '';
  /* em bloco alinhado */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index define a posicao do elemento que ha sobreposicao */
  /* z-index: -1 deixa o elemento atras ao qual ele esta se sobrepondo */
  z-index: -1;
  /* toda trasicao neste pseudo-elemento levara 4s */
  transition: all .4s; }

.btn--animated {
  /* animacao no botao com durcao de .5s do tipo ease-out e delay de .75s */
  animation: moveInBottom .5s ease-out .75s;
  /* configura a animacao antes de carregar a pagina - evita quebra da animacao */
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: all .2s;
    z-index: 1;
    outline-offset: 2rem;
    position: absolute; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2;
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.header {
  /* ocupar 95% do height do viewport (tela) */
  height: 95vh;
  /* configurar o bg com gradiente e imagem */
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(../img/hero.jpg);
  /* cobrir todo o backgroud da class */
  background-size: cover;
  background-position: top;
  /* seta cada posicao de x e y para formar o poligono */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* vh: view height */
    top: 40vh;
    /* vw: view width */
    left: 50vw;
    /* transformar o elemento iniciar o posicionamento a partir de 50% / 50% */
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 2rem) / 4) + (2 * 2rem)); }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 2rem) / 6); }
  .row .col-5-of-6 {
    width: calc((5 * (100% - 5 * 2rem) / 6) + (4 * 2rem)); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
