.card{
    //determina quao proximo do usuario o card estara / mais dramatica a perpectiva sera
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; //ajustar o tamanho do card com o tamanho do front e back faces

    &__side{
        height: 52rem;
        transition: all .8s ease;
        position: absolute; //resetar o posicionamento
        top: 0;
        left: 0;
        width: 100%;
        
<<<<<<< HEAD
        -webkit-backface-visibility: hidden;
=======
>>>>>>> af973e54b6cf879eb6fce4370801532ca0c167e8
        backface-visibility: hidden; //esconder o fundo
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden; //esconder caso algum elemento (imagem) ultrapasse o o border-radius

        &--front{
            background-color: $color-white;
        }

        &--back{
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    //CARD ROTATING
    //no hover sera apresentado &__side
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    // FRONT-SIDE CARD STYLING
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
        clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);

        //correcao do radius para quebra do overflow
<<<<<<< HEAD
        border-top-right-radius: 3px;
=======
        border-top-left-radius: 3px;
>>>>>>> af973e54b6cf879eb6fce4370801532ca0c167e8
        border-top-right-radius: 3px;
        
        &--1{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
            url(../img/nat-5.jpg);
        }
        
        &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
            url(../img/nat-6.jpg);
        }
        
        &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
            url(../img/nat-7.jpg);
        }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        // clona o estilo aplicado em uma quebra de linha
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1{
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }

        &--2{
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, .85),
            rgba($color-primary-dark, .85));
        }

        &--3{
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light, .85),
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details{
<<<<<<< HEAD
        padding: 3rem;
=======
        padding: 1rem;
>>>>>>> af973e54b6cf879eb6fce4370801532ca0c167e8

        ul{
            //informa somente as margens superio e inferior, deixa o browser calcular as margens laterais (e fica centralizado)
            margin: 0 auto;
            width: 80%;
            list-style: none;

            li{
                text-align: center;
                padding: 1rem;
                font-size: 1.5rem;

                &:not(:last-child){
<<<<<<< HEAD
                    border-bottom: 1px solid $color-grey-light-2;
=======
                    border-bottom: 1px solid $color-gray-2;
>>>>>>> af973e54b6cf879eb6fce4370801532ca0c167e8
                }
    
            }
        }
    }

    // BACK-SIDE CARD STYLING
    &__cta{
        //posicionar o elemento ao centro
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box{
        text-align: center;
        color: $color-white;
        margin-bottom: 6rem;
    }

    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }
}